<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
        {% block meta %}
        {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>
<body class="user-select">
<section class="container-fluid">
    {% block header %}
    {% endblock %}

    {% block search %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</section>
    {% block footer %}
    {% endblock %}

    {% block js2 %}
    {% endblock %}
</body>
</html>
